.add-record-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  margin-top: 20%;
}

.add-record-text {
  font-size: 16px;
  color: var(--hint-color);
  line-height: 1.5;
}

/* Контейнер для стрелки */
.arrow-container {
  position: fixed; /* Фиксируем контейнер относительно окна */
  bottom: 10%; /* Смещение вверх от футера */
  left: 50%; /* Центруем по горизонтали */
  transform: translateX(-50%) rotate(-45deg); /* Вращаем весь контейнер */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  animation: bounce 1s infinite;
}

/* Стрелка */
.arrow {
  width: 15px;
  height: 15px;
  border-left: 3px solid var(--hint-color);
  border-bottom: 3px solid var(--hint-color);
}

/* Анимация для контейнера (если требуется движение) */
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translate(-50%, 0) rotate(-45deg);
  }
  40% {
    transform: translate(-50%, -10px) rotate(-45deg);
  }
  60% {
    transform: translate(-50%, -5px) rotate(-45deg);
  }
}
