.add-record-message {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 50% 0%;
}

.add-record-text {
  font-size: 16px;
  color: var(--hint-color);
  line-height: 1.5;
}

.add-icon {
  font-weight: bold;
  color: var(--button-color);
}
