/* App */
.app-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--bg-color);
  height: 100vh;
  padding: 20px;
}

.app-title {
  font-size: 18px;
  color: var(--text-color);
  z-index: 2;
  padding: 10px;
  word-wrap: break-word;
}
