/* App */
.app-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  background-color: var(--bg-color);
}

.app-title {
  font-size: 18px;
  color: var(--text-color);
  z-index: 2;
  padding: 10px;
  word-wrap: break-word;
}
