/* App */
.app-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.app-title {
  font-size: 18px;
  color: var(--text-color);
  z-index: 2;
  padding: 10px;
  word-wrap: break-word;
}
