.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
}

.modal-container {
  background-color: var(--bg-color);
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  width: 90%;
  margin: 0px 10px;
  max-width: 350px;
}

.modal-close-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--accent-text-color);
  font-size: 22px;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 5px;
  transition: transform 0.2s ease;
}

.modal-close-btn:hover {
  transform: scale(1.2);
}

h2 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 16px;
  color: var(--text-color);
}

/* Улучшенная стилизация инпутов */
.input-field {
  margin-bottom: 1rem; /* Увеличение отступа для лучшего восприятия на мобильных */
}

.input-field label {
  display: block;
  margin-bottom: 0.5rem; /* Увеличение отступа */
  font-size: 1rem; /* Используем относительный размер шрифта */
  color: var(--text-color);
}

.input-field input {
  background-color: var(--secondary-bg-color);
  border: 1px solid var(--section-separator-color);
  border-radius: 8px; /* Немного округляем углы для плавности */
  color: var(--text-color);
  font-size: 1rem; /* Используем относительный размер шрифта */
  width: 100%; /* Делаем инпуты на всю ширину контейнера */
  outline: none;
  padding: 1rem; /* Увеличиваем отступ внутри инпута */
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.input-field input:focus {
  border-color: var(--accent-text-color); /* Цвет при фокусе */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Легкий эффект тени при фокусе */
}

.input-field input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px var(--secondary-bg-color) inset !important;
  -webkit-text-fill-color: var(--text-color) !important;
}

.input-field input::placeholder {
  color: var(--hint-color);
  font-size: 0.9rem; /* Немного уменьшаем размер шрифта для подсказки */
}

/* Для мобильных устройств инпуты должны быть легче доступными */
@media (max-width: 768px) {
  .input-field input {
    font-size: 1.2rem; /* Увеличиваем шрифт на мобильных устройствах */
    padding: 1.2rem; /* Увеличиваем отступы */
  }
  .input-field label {
    font-size: 1.1rem; /* Немного увеличиваем размер шрифта для label */
  }
}

.modal-buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.submit-button {
  background-color: var(--button-color);
  border: none;
  color: var(--button-text-color);
  cursor: pointer;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.submit-button:hover {
  transform: scale(1.1);
}

.submit-icon {
  width: 22px;
  height: 22px;
  fill: var(--button-text-color);
}

.error-message {
  color: var(--destructive-text-color);
  font-size: 14px;
  margin-top: 8px;
  text-align: center;
}
