/* Specific styles for AddRecordPage */
.modal-container {
  background-color: var(--bg-color);
  padding: 0.9rem;
  transition: transform 0.3s ease-in-out;
  width: 100%;
  margin-bottom: 66px;
  border-top: 1px solid var(--accent-text-color);
}

.modal-close-btn {
  background: #0000;
  border: none;
  color: var(--accent-text-color);
  cursor: pointer;
  font-size: 22px;
  transition: transform 0.2s ease;
}

.modal-close-btn:hover {
  transform: scale(1.2);
}
