.header {
  align-items: end;
  border-bottom: 2px solid var(--accent-text-color);
  top: 0;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  background-color: var(--bg-color);
  z-index: 1000;
  margin-top: 10%;
}

.header-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
  color: var(--text-color);
}
