.header {
  align-items: center;
  border-bottom: 2px solid #ee69a9;
  top: 50px;
  display: flex;
  height: 60px;
  justify-content: center;
  position: fixed;
  width: 300px;
  z-index: 1000;
}

.header-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}
