.edit-record-page {
  background-color: var(--section-bg-color);
}

.form-group {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-group input {
  padding: 0.5rem;
  background: var(--section-bg-color);
  border: 1px solid var(--section-separator-color);
}

button {
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  background-color: var(--button-color);
  border: none;
  border-radius: 6px;
  color: var(--button-text-color);
}
