.edit-record-page {
  background-color: var(--section-bg-color);
  padding: 1rem;
}

.form-group {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
}

.form-group label {
  font-size: 14px;
  width: 100px;
  text-align: start;
}

.form-group input {
  background: var(--section-bg-color);
  border: 1px solid #50a3f6;
  color: #50a3f6;
  padding: 0.5rem;
  width: 100%;
}

button {
  background-color: var(--button-color);
  border: none;
  border-radius: 6px;
  color: var(--button-text-color);
  padding: 0.5rem 1rem;
  margin: 0.5rem 0.5rem 0 0.5rem;
}
