.edit-record-page {
  background-color: var(--section-bg-color);
  padding: 1rem;
}

.form-group {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.form-group label {
  font-size: 14px;
  width: 80px;
}

.form-group input {
  background: var(--section-bg-color);
  border: 1px solid var(--section-separator-color);
  padding: 0.5rem;
  width: 100%;
}

button {
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  background-color: var(--button-color);
  border: none;
  border-radius: 6px;
  color: var(--button-text-color);
}
