.footer {
  align-items: center;
  background-color: var(--bg-color);
  border-radius: 16px;
  display: flex;
  flex-shrink: 0;
  justify-content: space-around;
  margin: 0.5rem 0.5rem 26px;
  position: relative;
  width: 96%;
  z-index: 1000;
}

.icon-button {
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 50px;
  justify-content: center;
  width: 50px;
  color: var(--button-color);
}

.icon-button img {
  width: 60%;
  height: 60%;
}

.icon-button:active {
  transform: scale(0.95);
}

.icon-button.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
  box-shadow: none;
}

.icon-button.disabled img {
  filter: grayscale(100%);
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}
