.footer {
  height: 60px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid #ee69a9;
  position: fixed;
  bottom: 50px;
  z-index: 1000;
}

.footer-text {
  color: #fff;
  font-size: 0.9rem;
  text-align: center;
}
