.date-time-display {
  align-items: center;
  display: flex;
  color: var(--text-color);
  font-size: 1.2rem;
}

.date {
  color: var(--section-header-text-color);
  font-size: 0.9rem;
  font-weight: 400;
}

.time {
  align-items: center;
  display: flex;
  font-weight: 700;
  padding: 3px;
  color: var(--accent-text-color);
}

.hours,
.minutes {
  font-size: 1.5rem;
  color: var(--accent-text-color);
}

.colon {
  margin: 0 1px;
  animation: blink 1s infinite;
  color: var(--accent-text-color);
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}
