.main-container {
  flex-grow: 1;
  overflow-y: auto;
  text-align: center;
  width: 96%;
  height: 78vh;
  border-radius: 16px;
}

h2 {
  color: var(--section-header-text-color);
  font-size: 14px;
  margin: 0 0 1rem;
}

.input-field {
  margin-bottom: 1rem;
}

.input-field label {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--text-color);
  font-size: 1.1rem;
}

.input-field input {
  background-color: var(--section-bg-color);
  border: 1px solid var(--button-color);
  box-sizing: border-box;
  color: var(--button-color);
  font-size: 0.9rem;
  height: 42px;
  outline: none;
  padding: 0.9rem;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  width: 100%;
  border-radius: 6px;
}

.input-field input:focus {
  border-color: var(--accent-text-color);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.input-field input[type="date"],
.input-field input[type="time"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input-field input[type="date"]::-webkit-calendar-picker-indicator,
.input-field input[type="time"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  pointer-events: none;
}

.input-field input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px var(--secondary-bg-color) inset !important;
  -webkit-text-fill-color: var(--text-color) !important;
}

.input-field input::placeholder {
  color: var(--hint-color);
  font-size: 0.9rem;
}

.error-message {
  color: var(--destructive-text-color);
  font-size: 14px;
  margin-top: 8px;
  text-align: center;
}

.records-list {
  background-color: var(--section-bg-color);
  display: inline-block;
  font-family: Arial, sans-serif;
  width: 100%;
  border-radius: 16px;
}

.records-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.record-item {
  background-color: var(--bg-color);
  border: none;
  cursor: pointer;
  padding: 1rem;
  position: relative;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.record-item:not(:last-child) {
  border-bottom: 1px solid var(--section-separator-color);
}

.record-item:active {
  transform: scale(0.98);
}

.record-header {
  align-items: center;
  color: var(--text-color);
  display: flex;
  font-size: 12px;
  width: 100%;
}

.record-date-label,
.record-time-label {
  width: 62px;
  text-align: center;
}

.record-time-label {
  background-color: var(--button-color);
  border-radius: 12px;
  font-size: 0.9rem;
  font-weight: 400;
  margin: 0 0.5rem;
  padding: 0.5rem 0;
  color: var(--button-text-color);
}

.record-comment {
  display: none;
  margin-top: 8px;
  font-size: 12px;
  color: var(--hint-color);
  animation: fadeIn 0.3s ease;
}

.record-item.open .record-comment {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
