.welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.status-message {
  font-size: 1.2rem;
  margin: 20px 0;
}

.records-list {
  display: inline-block;
  text-align: left;
  margin: 0 auto;
  max-width: 300px;
}

.records-list ul {
  list-style-type: none;
  padding: 0;
}

.records-list li {
  padding-top: 10px;
  background-color: transparent;
  margin-bottom: 0;
  border-radius: 0;
  border: none;
}

.records-list li strong {
  color: #ee69a9;
}

/* Стили для кнопки добавления */
.icon-button {
  cursor: pointer;
  height: 32px;
  width: 32px;
  position: relative;
  animation: pulse 1.5s infinite; /* Добавляем анимацию пульсации */
}

.icon-button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Анимация пульсации */
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(238, 105, 169, 0.8); /* Начальный эффект (светящийся контур) */
  }
  50% {
    box-shadow: 0 0 10px 10px rgba(238, 105, 169, 0); /* Средний этап (свет исчезает) */
  }
  100% {
    box-shadow: 0 0 0 0 rgba(238, 105, 169, 0.8); /* Завершающий этап */
  }
}

/* Стили для времени */
.time {
  color: #ee69a9;
  font-weight: bold;
}

.time .hours,
.time .minutes {
  color: inherit; /* Наследуем розовый цвет */
}

.time .colon {
  color: inherit;
  animation: blink 1s infinite;
}

/* Анимация мигания */
@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}
