.welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.status-message {
  font-size: 1.2rem;
  margin: 20px 0;
}

/* Стили для списка записей */
.records-list {
  display: inline-block;
  text-align: left;
  margin: 0 auto;
  max-width: 400px;
  font-family: Arial, sans-serif;
}

.records-list ul {
  list-style-type: none;
  padding: 0;
}

.record-item {
  position: relative;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  background-color: #f9f9f9;
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
  cursor: pointer;
}

.record-item:hover {
  transform: translateY(-5px);
  background-color: #f1f1f1;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.record-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #333;
}

.record-time-label {
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 4px;
  background-color: #ffed85;
  font-weight: bold;
  color: #555;
}

.record-comment {
  display: none;
  margin-top: 10px;
  font-size: 12px;
  color: #666;
  animation: fadeIn 0.3s ease;
}

.record-item:hover .record-comment {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Стили для кнопки добавления */
.icon-button {
  animation: pulse 1.5s infinite;
  cursor: pointer;
  height: 32px;
  position: relative;
  width: 32px;
  border-radius: 50px;
  padding: 9px;
  margin-top: 20px;
}

.icon-button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Анимация пульсации */
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(238, 105, 169, 0.8); /* Начальный эффект (светящийся контур) */
  }
  50% {
    box-shadow: 0 0 10px 10px rgba(238, 105, 169, 0); /* Средний этап (свет исчезает) */
  }
  100% {
    box-shadow: 0 0 0 0 rgba(238, 105, 169, 0.8); /* Завершающий этап */
  }
}

/* Стили для времени */
.time {
  color: #ee69a9;
  font-weight: bold;
}

.time .hours,
.time .minutes {
  color: inherit; /* Наследуем розовый цвет */
}

.time .colon {
  color: inherit;
  animation: blink 1s infinite;
}

/* Анимация мигания */
@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}
